@use "../index.scss" as *;

.alert {
  padding: 0.5rem 0;
  color: white;
  text-align: center;
  font-weight: 600;
}

.red {
  background-color: $redBase;
}

.blue {
  background-color: $blueBase;
}
